# Created by .ignore support plugin (hsz.mobi)
/*
!/build
!/config
!/doc
!/src
!/test
!/.babelrc
!/.editorconfig
!/.eslintignore
!/.eslintrc.yml
!/.gitignore
!/.npmrc
!/.postcssrc.js
!/index.pug
!/package.json
!/README.md
!/yarn.lock
